<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="/content/app.css" />
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="/assets/images/logo.jpg" type="image/gif">
  <title><%= title %></title>
</head>
<body>

<!--Header-->
<header class="h">
  <div class="navbar"></div>
  <div class="st">

  
    <a class="beversion" href=""><h1>Servey</h1></a>
    <ul class="list good">
  <li><a href="#"><i class="fa fa-fw fa-envelope"></i>Contacts</a></li>
    <li><a href="#"><i class="fa fa-file-text"></i>About</a></li>
    <li><a href="/home"><i class="fa fa-fw fa-home"></i>Home</a></li>
  </div>
    
    </div>  
</header>


<!--Main-->
<main>
  

</main>


<!--Foot-->
<footer>

</footer>




  <script src="/scripts/app.js"></script>
</body>
</html>



